<div>
    <img id="img-beer" src="/images/beer.png" alt="beer image"/>
    <div id="btns-beers-container">
        <button class="btn-beers" type="button" onclick="window.location.href='/beers'">Check the Beers!</button>
        <button class="btn-beers" type="button" onclick="window.location.href='/random-beer'">Check a Random Beer!</button>
    </div>
</div>


