/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/



/* LAYOUT */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
}


#nav-bar {
    background-color: #2081c3;
    display: flex;
    justify-content: flex-start;
    height: 6vh;
}


#footer-bar {
    background-color: #0a2c42;
    color: #f7f9f9;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#footer-text {
    font-size: 14px;
    padding-left: 5%;
}



/* HOME PAGE */

#img-beer {
    height: 15rem;
}


#btns-beers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-beers {

}



/* BEER PAGE */

#beers-container {
    display: flex;
}


#beer-images {
    height: 5rem;
}